/.idea/
/gulpfile.js
/upload/
/images/
/logs/
/xml/
/bitrix/admin/
/bitrix/components/
/bitrix/templates/
/bitrix/images/
/bitrix/php_interface/include/
/bitrix/modules/*
!/bitrix/modules/aspro.optimus
/bitrix/modules/aspro.optimus/*
!/bitrix/modules/aspro.optimus/lib