php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

php_value mbstring.internal_encoding UTF-8
php_value mbstring.func_overload 2

Options -Indexes
ErrorDocument 404 /404.php
#RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
#RewriteCond %{HTTP_HOST} ^xn--e1aybc.xn--80afpacjdwcqkhfi\.xn--p1ai$ [NC]xn--80afpacjdwcqkhfi.xn--p1ai
#RewriteRule ^(.*)$ http://xn--80afpacjdwcqkhfi.xn--p1ai/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !robots\.txt

RewriteCond %{HTTP_USER_AGENT} SemrushBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} AhrefsBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} MJ12bot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} Riddler
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} aiHitBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} trovitBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} Detectify
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} BLEXBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} LinkpadBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} dotbot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} FlipboardProxy
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} BUbiNG
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/1.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/2.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/3.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} bingbot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} bingbot/2.0
RewriteRule (.*) - [F,L]

SetEnvIfNoCase User-Agent ".*bingbot" badbingbot
Deny from env=badbingbot

	php_value max_input_vars 10000

#### BAD BOTS ####
SetEnvIfNoCase User-Agent "^SemrushBot" bad_bot
SetEnvIfNoCase User-Agent "^SemrushBot/1.2~bl" bad_bot
SetEnvIfNoCase User-Agent "^bingbot" bad_bot
SetEnvIfNoCase User-Agent "^bingbot/2.0" bad_bot
SetEnvIfNoCase User-Agent "^bingbot" bad_bot

<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</Limit>
#####


<Files bonus.xml>
 order allow,deny
 deny from all
</Files>
<IfModule headers_module>
	Header set X-Content-Type-Options nosniff
	#Header set X-Frame-Options SAMEORIGIN
</IfModule>
<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_flag magic_quotes_gpc Off
  #php_value display_errors 1
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} ^(.*/[^/\.]+)$
  RewriteCond %{REQUEST_URI} !.html(.*)$
  RewriteCond %{REQUEST_URI} !.php(.*)$
  #RewriteRule ^(.*[^/])$ $1/ [L,R=301]

  #RewriteCond %{SERVER_PORT} ^80$
  RewriteCond %{REQUEST_URI} !^/bitrix/admin/1c_exchange.php
  #RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
  RewriteCond %{HTTP_HOST} ^www.xn--80afpacjdwcqkhfi.xn--p1ai$ [NC]
  #RewriteRule ^(.*)$ https://xn--80afpacjdwcqkhfi.xn--p1ai/$1 [R=301,L]
  Redirect 301 /bonusnaya-karta/ http://strlogclub.ru/about/
  Redirect 301 /uslugi/dostavka/ https://xn--80afpacjdwcqkhfi.xn--p1ai/help/delivery/
  Redirect 301 /novosti/ https://xn--80afpacjdwcqkhfi.xn--p1ai/info/news/
  Redirect 301 /gde-kupit/ https://xn--80afpacjdwcqkhfi.xn--p1ai/company/contacts/
  #Redirect 301 /dzhut/ https://xn--80afpacjdwcqkhfi.xn--p1ai/catalog/dzhut-dzhutovyy-voylok/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"
</IfModule>
