php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
php_value mbstring.internal_encoding UTF-8
php_value mbstring.func_overload 2
php_value max_input_vars 10000

Options -Indexes
ErrorDocument 404 /404.php
RewriteCond %{REQUEST_FILENAME} !robots\.txt
RewriteCond %{HTTP_USER_AGENT} SemrushBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} AhrefsBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} MJ12bot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} Riddler
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} aiHitBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} trovitBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} Detectify
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} BLEXBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} LinkpadBot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} dotbot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} FlipboardProxy
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} BUbiNG
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/1.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/2.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} DomainCrawler/3.0
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} bingbot
RewriteRule (.*) - [F,L]
RewriteCond %{HTTP_USER_AGENT} bingbot/2.0
RewriteRule (.*) - [F,L]


<Files bonus.xml>
 order allow,deny
 deny from all
</Files>
<IfModule headers_module>
	Header set X-Content-Type-Options nosniff
</IfModule>
<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !.html(.*)$
  RewriteCond %{REQUEST_URI} !.php(.*)$
  RewriteCond %{REQUEST_URI} !^/bitrix/admin/1c_exchange.php
  RewriteCond %{REQUEST_URI} ^(.*/[^/\.]+)$
  RewriteRule ^(.*)$ $1/ [L,R=301]
  RewriteCond %{HTTP_HOST} ^www.xn--80afpacjdwcqkhfi.xn--p1ai$ [NC]
  RewriteRule ^(.*)$ https://xn--80afpacjdwcqkhfi.xn--p1ai/$1 [R=301,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
  Redirect 301 /bonusnaya-karta/ http://strlogclub.ru/about/
  Redirect 301 /uslugi/dostavka/ https://xn--80afpacjdwcqkhfi.xn--p1ai/help/delivery/
  Redirect 301 /novosti/ https://xn--80afpacjdwcqkhfi.xn--p1ai/info/news/
  Redirect 301 /gde-kupit/ https://xn--80afpacjdwcqkhfi.xn--p1ai/company/contacts/
  Redirect 301 /company/contacts/ https://xn--80afpacjdwcqkhfi.xn--p1ai/company/stores/
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"
</IfModule>

#Запрет доступа к сайту по маске
order allow,deny
allow from all
deny from 46.8.23.
deny from 46.8.22.
deny from 188.130.128.
deny from 188.130.129.
deny from 109.248.14.
deny from 188.130.137.
deny from 188.130.142.
deny from 109.248.15.
deny from 46.8.110.
deny from 109.248.142.
deny from 46.8.222.
deny from 188.130.143.
deny from 46.8.223.
deny from 188.130.136.
deny from 45.15.73.
deny from 109.248.143.
deny from 109.248.204.
deny from 45.11.21.
deny from 185.181.246.
deny from 109.248.205.
deny from 94.158.190.
deny from 46.8.17.
deny from 194.32.229.
deny from 109.248.13.
deny from 188.130.210.
deny from 188.130.185.
deny from 194.35.113.
deny from 185.181.247.
deny from 45.81.136.
deny from 45.15.72.
deny from 92.119.193.
deny from 45.11.20.
deny from 185.181.244.
deny from 45.87.253.
deny from 185.181.245.
deny from 194.34.248.
deny from 46.8.16.
deny from 212.115.49.
deny from 109.248.12.
deny from 46.8.106.
deny from 213.226.101.
deny from 109.248.139.
deny from 46.8.107.
deny from 95.182.124.
deny from 45.90.196.
deny from 109.248.138.
deny from 2.59.50.
deny from 95.182.127.
deny from 45.87.252.
deny from 46.8.192.
deny from 46.8.56.
deny from 31.40.203.
deny from 45.86.1.
deny from 46.8.11.
deny from 46.8.111.
deny from 188.130.218.
deny from 109.248.166.
deny from 188.130.186.
deny from 95.182.125.
deny from 188.130.221.
deny from 45.81.137.
deny from 109.248.128.
deny from 46.8.154.
deny from 46.8.212.
deny from 188.130.184.
deny from 46.8.156.
deny from 45.86.0.
deny from 46.8.213.
deny from 46.8.193.
deny from 188.130.189.
deny from 95.182.126.
deny from 45.84.176.
deny from 109.248.48.
deny from 109.248.54.
deny from 109.248.55.
deny from 109.248.49.
deny from 188.130.188.
deny from 5.142.47.
deny from 185.157.97.
deny from 91.200.146.
deny from 109.248.245.
deny from 109.252.1.
deny from 109.252.28.
deny from 109.63.143.
deny from 109.74.129.
deny from 109.95.79.
deny from 141.101.202.
deny from 148.72.168.
deny from 149.50.217.
deny from 172.31.99.
deny from 178.214.36.
deny from 178.218.118.
deny from 178.219.178.
deny from 178.238.118.
deny from 185.12.53.
deny from 185.145.125.
deny from 185.190.105.
deny from 185.20.44.
deny from 185.211.158.
deny from 185.32.134.
deny from 185.46.45.
deny from 185.49.110.
deny from 185.76.109.
deny from 188.123.230.
deny from 188.168.21.
deny from 188.170.128.
deny from 188.254.110.
deny from 188.32.250.
deny from 194.28.195.
deny from 194.28.207.
deny from 194.88.199.
deny from 195.239.104.
deny from 195.46.178.
deny from 195.9.107.
deny from 195.94.248.
deny from 212.46.10.
deny from 212.57.109.
deny from 213.208.176.
deny from 213.33.169.
deny from 217.15.53.
deny from 217.78.182.
deny from 217.78.186.
deny from 23.106.56.
deny from 31.10.81.
deny from 31.28.4.
deny from 37.110.143.
deny from 37.110.55.
deny from 37.204.225.
deny from 37.49.185.
deny from 45.143.236.
deny from 45.86.188.
deny from 46.138.172.
deny from 46.138.180.
deny from 46.138.184.
deny from 46.138.64.
deny from 46.138.73.
deny from 46.138.74.
deny from 46.138.82.
deny from 46.160.235.
deny from 46.188.123.
deny from 46.188.68.
deny from 46.243.170.
deny from 46.249.14.
deny from 46.254.20.
deny from 46.31.29.
deny from 46.39.54.
deny from 5.180.136.
deny from 5.228.150.
deny from 5.228.163.
deny from 5.228.19.
deny from 5.3.100.
deny from 62.141.67.
deny from 62.141.88.
deny from 62.176.27.
deny from 77.233.197.
deny from 77.37.204.
deny from 77.37.206.
deny from 77.74.30.
deny from 78.107.236.
deny from 79.137.255.
deny from 79.139.177.
deny from 79.139.211.
deny from 79.164.91.
deny from 79.171.172.
deny from 81.23.14.
deny from 82.138.49.
deny from 82.149.201.
deny from 82.179.191.
deny from 83.220.61.
deny from 83.69.203.
deny from 84.252.147.
deny from 85.141.213.
deny from 85.234.126.
deny from 85.235.163.
deny from 85.30.244.
deny from 85.94.20.
deny from 87.249.31.
deny from 89.169.22.
deny from 89.188.118.
deny from 89.21.136.
deny from 89.22.151.
deny from 89.22.156.
deny from 89.22.30.
deny from 89.221.51.
deny from 89.23.32.
deny from 91.107.47.
deny from 91.205.171.
deny from 91.206.146.
deny from 91.218.94.
deny from 91.226.165.
deny from 92.43.166.
deny from 94.154.87.
deny from 94.159.1.
deny from 94.25.147.
deny from 94.253.19.
deny from 95.165.159.
deny from 95.220.52.
deny from 95.24.148.
deny from 95.31.7.
deny from 95.73.62.
deny from 45.84.177.
deny from 46.8.155.
deny from 46.8.157.
deny from 109.248.129.
deny from 109.248.167.
deny from 176.59.54.
deny from 178.176.75.
deny from 188.130.219.
deny from 31.173.85.
deny from 31.173.86.
deny from 46.138.92.
deny from 46.8.14.
deny from 46.8.57.
deny from 188.130.187.
deny from 46.8.10.
deny from 46.8.15.
deny from 188.130.220.
deny from 95.165.93.
deny from 188.130.211.
deny from 193.163.207.
deny from 212.18.113.
deny from 176.126.104.
deny from 176.59.42.
deny from 178.140.12.
deny from 195.239.35.
deny from 213.87.161.
deny from 31.44.245.
deny from 37.204.233.
deny from 46.188.121.
deny from 62.217.188.
deny from 77.108.73.
deny from 83.69.193.
deny from 95.24.98.