section.strlog-ecosystem .ecosystem-tiles .ecosystem_row {
  display: flex;
  flex-direction: row;
  margin-left: -6px;
  margin-right: -6px; }
  section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .ecosystem_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0;
    width: 100%; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .ecosystem_column.ecosystem_column-one-third {
      flex: 0 0 40%; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .ecosystem_column.ecosystem_column-two-thirds {
      flex: 0 0 60%; }
  section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget {
    display: block;
    position: relative;
    padding: 18px 24px 16px;
    background-color: #fff;
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 6px;
    border: 1px solid #ddd; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget_perimetr-logo {
      background-image: url("./image/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 85px;
      height: 20px;
      position: absolute;
      top: 15px;
      right: 15px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-hover {
      transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-hover:hover:after {
        opacity: 1; }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-hover:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 6px 10px rgba(68, 92, 130, 0.14), 0 1px 18px rgba(68, 92, 130, 0.12), 0 3px 5px rgba(68, 92, 130, 0.2);
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-main {
      background-repeat: no-repeat;
      background-size: 270px;
      background-position: 100% 100%;
      height: 396px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-full {
      flex-basis: 100%; }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-full .widget-inner p.widget-title {
        font-size: 30px;
        margin-bottom: 6px;
        line-height: 36px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-half {
      flex-basis: calc(50% - 12px);
      padding-top: 16px;
      min-height: 207px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-horizontal {
      padding-top: 36px;
      height: 165px; }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-horizontal .widget_icon {
        margin-right: 16px;
        height: 77px;
        margin-top: -8px; }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-horizontal .widget-inner {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "icon title" "icon description";
        width: 80%; }
        section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-horizontal .widget-inner p.widget-title {
          font-size: 20px;
          line-height: 24px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget_toggle-icon-wrapper {
      position: absolute;
      top: 27px;
      right: 5px;
      font-size: 23px;
      color: #000;
      transform: rotate(90deg);
      display: inline-block;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 0px;
      opacity: 0.6; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget_icon {
      height: 56px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      grid-area: icon;
      margin-bottom: 5px; }
      section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget_icon i {
        width: 100%;
        height: 100%; }
        section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget_icon i object {
          width: auto;
          height: 100%;
          vertical-align: middle; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget.widget-small-icon .widget_icon {
      height: 48px; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget-inner p.widget-title {
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.9);
      text-align: left;
      font-weight: 700;
      line-height: 20px;
      font-size: 16px;
      letter-spacing: 0.15px;
      display: block;
      grid-area: title; }
    section.strlog-ecosystem .ecosystem-tiles .ecosystem_row .widget .widget-inner p.widget-description {
      grid-area: description; }

section.strlog-ecosystem .ecosystem-slider {
  display: none; }
  section.strlog-ecosystem .ecosystem-slider .widget {
    background-color: #ffffff;
    height: 170px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    width: 120px !important; }
    section.strlog-ecosystem .ecosystem-slider .widget:not(:last-child) {
      margin-right: 10px; }
    section.strlog-ecosystem .ecosystem-slider .widget .widget_toggle-icon-wrapper {
      position: absolute;
      top: 21px;
      right: -3px;
      font-size: 18px;
      color: #000;
      transform: rotate(90deg);
      display: inline-block;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 0px;
      opacity: 0.6; }
    section.strlog-ecosystem .ecosystem-slider .widget .widget-inner {
      text-align: left; }
      section.strlog-ecosystem .ecosystem-slider .widget .widget-inner p.widget-title {
        font-size: 12px;
        margin-bottom: 4px;
        line-height: 14px;
        font-weight: 600;
        color: #000; }
      section.strlog-ecosystem .ecosystem-slider .widget .widget-inner .widget_icon {
        height: 45px; }
        section.strlog-ecosystem .ecosystem-slider .widget .widget-inner .widget_icon i {
          width: 100%;
          height: 100%; }
          section.strlog-ecosystem .ecosystem-slider .widget .widget-inner .widget_icon i object {
            width: auto;
            height: 100%;
            vertical-align: middle; }
      section.strlog-ecosystem .ecosystem-slider .widget .widget-inner p.widget-description {
        font-size: 12px;
        line-height: 11px; }
    section.strlog-ecosystem .ecosystem-slider .widget.widget-design {
      background-repeat: no-repeat;
      background-size: 78px;
      background-position: 100% 100%; }

.ecosystem-popup {
  width: 320px;
  z-index: 8900;
  box-shadow: 0 16px 24px rgba(68, 92, 130, 0.14), 0 6px 30px rgba(68, 92, 130, 0.12), 0 8px 10px rgba(68, 92, 130, 0.2);
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transition: opacity 0.5s; }
  .ecosystem-popup .ecosystem-popup__header {
    min-height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px 0 24px;
    z-index: 1; }
    .ecosystem-popup .ecosystem-popup__header .ecosystem-popup__title {
      display: none; }
    .ecosystem-popup .ecosystem-popup__header button {
      height: 40px;
      line-height: 40px;
      min-width: 40px;
      font-size: 14px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      display: -moz-inline-box;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      overflow: visible;
      transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
      background-color: transparent;
      border: none;
      text-decoration: none;
      outline: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-shadow: none;
      vertical-align: baseline;
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial; }
      .ecosystem-popup .ecosystem-popup__header button i {
        color: rgba(0, 0, 0, 0.6);
        vertical-align: top;
        font-size: 21px;
        transition: color 0.3s ease-in; }
        .ecosystem-popup .ecosystem-popup__header button i:before {
          text-decoration: none !important; }
        .ecosystem-popup .ecosystem-popup__header button i:hover {
          color: #000000; }
  .ecosystem-popup .ecosystem-popup__body {
    padding: 36px 14px 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.9);
    background: #fff;
    border-radius: 2px;
    height: auto; }
    .ecosystem-popup .ecosystem-popup__body ul {
      padding: 12px 0;
      display: block;
      cursor: default;
      list-style: none; }
      .ecosystem-popup .ecosystem-popup__body ul li {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-left: 0; }
        .ecosystem-popup .ecosystem-popup__body ul li a {
          font-weight: 400;
          letter-spacing: 0.15px;
          font-size: 14px;
          min-height: 40px;
          min-width: 40px;
          padding: 11px 16px;
          line-height: 18px;
          position: relative;
          cursor: pointer;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: transparent;
          border: none;
          text-decoration: none;
          outline: none;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          text-shadow: none;
          vertical-align: baseline;
          -webkit-user-select: initial;
          -moz-user-select: initial;
          -ms-user-select: initial;
          user-select: initial;
          color: #000;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
          .ecosystem-popup .ecosystem-popup__body ul li a:active, .ecosystem-popup .ecosystem-popup__body ul li a:focus {
            outline: none;
            text-decoration: none; }
          .ecosystem-popup .ecosystem-popup__body ul li a:hover {
            background: #f7f8f9;
            color: #000;
            text-decoration: none; }
        .ecosystem-popup .ecosystem-popup__body ul li:before {
          display: none; }
  .ecosystem-popup .ecosystem-popup__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .ecosystem-popup.popup_widget_left .ecosystem-popup__arrow {
    border-right-color: #fff;
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-width: 8px 8px 8px 0; }
  .ecosystem-popup.popup_widget_right .ecosystem-popup__arrow {
    border-left-color: #fff;
    top: 50%;
    right: -8px;
    margin-top: -8px;
    border-width: 8px 0 8px 8px; }
  .ecosystem-popup.mobile-view {
    position: fixed;
    width: 80%;
    height: 100%; }
    .ecosystem-popup.mobile-view .ecosystem-popup__header {
      width: 100%;
      justify-content: space-between;
      background-color: #00adee;
      padding: 0px; }
      .ecosystem-popup.mobile-view .ecosystem-popup__header .ecosystem-popup__title {
        display: block;
        color: #000000;
        padding-left: 20px;
        font-weight: 500;
        font-size: 15px; }

section.strlog-ecosystem {
  position: relative;
  margin-top: 30px; }
  section.strlog-ecosystem .widget #widget-submenu, section.strlog-ecosystem .widget #widget-href {
    display: none; }

@media (max-width: 640px) {
  section.strlog-ecosystem .ecosystem-tiles {
    display: none; }

  section.strlog-ecosystem .ecosystem-slider {
    display: block; } }
