.money-care-container a {
  background-color: #006ac5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  padding: 7px 12px 8px;
  font-size: 14px;
  line-height: 16;
  font-weight: 400;
  color: #ffffff;
  display: block;
  text-decoration: none;
  vertical-align: middle; }
  .money-care-container a:hover {
    color: #2975c0; }
