section.strlog-ecosystem .ecosystem-tiles
  .ecosystem_row
    display: flex
    flex-direction: row
    margin-left: -6px
    margin-right: -6px
    .ecosystem_column
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-content: stretch
      margin: 0
      &.ecosystem_column-one-third
        flex: 0 0 40%
      &.ecosystem_column-two-thirds
        flex: 0 0 60%
    .widget
      display: block
      position: relative
      padding: 18px 24px 16px
      background-color: #fff
      flex-grow: 1
      flex-basis: 0
      cursor: pointer
      border-radius: 4px
      text-decoration: none
      box-sizing: border-box
      margin: 6px
      &.widget-hover
        transition: background-color .3s cubic-bezier(.4,0,.2,1)
        &:after
          content: ''
          position: absolute
          left: 0
          top: 0
          z-index: -1
          width: 100%
          height: 100%
          border-radius: 4px
          box-shadow: 0 6px 10px rgba(68, 92, 130, .14), 0 1px 18px rgba(68, 92, 130, .12), 0 3px 5px rgba(68, 92, 130, .20)
          transition: opacity .3s cubic-bezier(.4,0,.2,1)
          opacity: 0
      &.widget-main
        background-repeat: no-repeat
        background-size: 160px
        background-position: 100% 100%
        height: 384px
      &.widget-design
        background-image: url(design.png)
      &.widget-full
        flex-basis: 100%
        .widget-inner
          p.widget-title
            font-size: 30px
            margin-bottom: 6px
            line-height: 36px
      &.widget-half
        flex-basis: calc(50% - 12px)
        padding-top: 16px
        min-height: 207px
      &.widget-horizontal
        padding-top: 36px
        height: 165px
        .widget_icon
          margin-right: 16px
          height: 77px
          margin-top: -8px
        .widget-inner
          display: grid
          grid-template-columns: auto auto
          grid-template-rows: auto auto
          grid-template-areas: "icon title" "icon description"
          width: 80%
          p.widget-title
            font-size: 20px
            line-height: 24px
      .widget_toggle-icon-wrapper
        position: absolute
        top: 27px
        right: 5px
        font-size: 23px
        color: #000
        transform: rotate(90deg)
        display: inline-block
        font-weight: bold
        letter-spacing: 2px
        line-height: 0px
        opacity: .6
      .widget_icon
        height: 56px
        display: inline-flex
        justify-content: center
        align-items: center
        grid-area: icon
        i
          width: 100%
          height: 100%
          svg
            width: auto
            height: 100%
            vertical-align: middle
      &.widget-small-icon
        .widget_icon
          height: 48px
      .widget-inner
        p.widget-title
          margin-bottom: 4px
          color: rgba(0,0,0,.9)
          text-align: left
          font-weight: 700
          line-height: 20px
          font-size: 16px
          letter-spacing: .15px
          display: block
          grid-area: title
        p.widget-description
          grid-area: description
section.strlog-ecosystem .ecosystem-slider
  display: none
  .widget
    background-color: #ffffff
    height: 170px
    padding: 10px
    cursor: pointer
    border-radius: 4px
    text-decoration: none
    box-sizing: border-box
    width: 120px!important
    &:not(:last-child)
      margin-right: 10px
    .widget_toggle-icon-wrapper
      position: absolute
      top: 27px
      right: 5px
      font-size: 23px
      color: #000
      transform: rotate(90deg)
      display: inline-block
      font-weight: bold
      letter-spacing: 2px
      line-height: 0px
      opacity: .6
    .widget-inner
      text-align: left
      p.widget-title
        font-size: 12px
        margin-bottom: 4px
        line-height: 14px
        font-weight: 600
        color: #000
      .widget_icon
        height: 45px
        i
          width: 100%
          height: 100%
          svg
            width: auto
            height: 100%
            vertical-align: middle
      p.widget-description
        font-size: 12px
        line-height: 11px
    &.widget-design
      background-repeat: no-repeat
      background-size: 78px
      background-position: 100% 100%
      background-image: url(design.png)
section.strlog-ecosystem .ecosystem-popup
  width: 320px
  z-index: 8900
  box-shadow: 0 16px 24px rgba(68,92,130,.14), 0 6px 30px rgba(68,92,130,.12), 0 8px 10px rgba(68,92,130,.20)
  background: #fff
  border-radius: 2px
  .ecosystem-popup__header
    min-height: 48px
    display: flex
    justify-content: flex-end
    align-items: center
    position: absolute
    top: 0
    right: 0
    padding: 0 4px 0 24px
    z-index: 1
    button
      height: 40px
      line-height: 40px
      min-width: 40px
      font-size: 14px
      font-weight: 500
      align-items: center
      justify-content: center
      display: inline-flex
      display: -moz-inline-box
      position: relative
      cursor: pointer
      box-sizing: border-box
      overflow: visible
      transition: color .3s ease-in,border-color .3s ease-in,background-color .3s ease-in
      background-color: transparent
      border: none
      text-decoration: none
      outline: none
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      text-shadow: none
      vertical-align: baseline
      -webkit-user-select: initial
      -moz-user-select: initial
      -ms-user-select: initial
      user-select: initial
      i
        color: rgba(0,0,0,.6)
        vertical-align: top
        font-size: 21px
        transition: color .3s ease-in
        &:before
          text-decoration: none!important
        &:hover
          color: #000000
  .ecosystem-popup__body
    padding: 36px 14px 14px
    font-style: normal
    font-weight: 400
    line-height: 23px
    font-size: 14px
    letter-spacing: .1px
    color: rgba(0,0,0,.9)
    background: #fff
    border-radius: 2px
    height: auto
    ul
      padding: 12px 0
      display: block
      cursor: default
      list-style: none
      li
        font-size: 14px
        line-height: 20px
        margin: 0
        padding-left: 0
        a
          font-weight: 400
          letter-spacing: .15px
          font-size: 14px
          min-height: 40px
          min-width: 40px
          padding: 11px 16px
          line-height: 18px
          position: relative
          cursor: pointer
          box-sizing: border-box
          display: flex
          flex-direction: row
          align-items: center
          background-color: transparent
          border: none
          text-decoration: none
          outline: none
          -webkit-backface-visibility: hidden
          backface-visibility: hidden
          text-shadow: none
          vertical-align: baseline
          -webkit-user-select: initial
          -moz-user-select: initial
          -ms-user-select: initial
          user-select: initial
          color: #000
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
          &:active, &:focus
            outline: none
            text-decoration: none
          &:hover
            background: #f7f8f9
            color: #000
            text-decoration: none
        &:before
          display: none
  .ecosystem-popup__arrow
    position: absolute
    width: 0
    height: 0
    border-color: transparent
    border-style: solid
  &.popup_widget_left
    .ecosystem-popup__arrow
      border-right-color: #fff
      top: 50%
      left: -8px
      margin-top: -8px
      border-width: 8px 8px 8px 0
  &.popup_widget_right
    .ecosystem-popup__arrow
      border-left-color: #fff
      top: 50%
      right: -8px
      margin-top: -8px
      border-width: 8px 0 8px 8px
section.strlog-ecosystem
  position: relative
  .widget
    #widget-submenu, #widget-href
      display: none
  .ecosystem-popup
    position: absolute
    transition: opacity .5s
    #widget-submenu
      display: block

@media (max-width: 640px)
  section.strlog-ecosystem .ecosystem-tiles
    display: none
  section.strlog-ecosystem .ecosystem-slider
    display: block
