div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
#register .reg-success{
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    color: #f26541;	
}
#register #checkRegPhone{
    position: relative;
    display:inline-block;
}
#register #checkRegPhone.success{
	background-color: #649c42;
}
#register .reg-row.tl_code{
	position:relative;
	*display:none;
}
#register #sendCode{
position: relative;	
display:none; 
width: 40px
}
#register .orange-btn.top-reg.success{
	background-color: #649c42;
}
#register .re-desc-no,
#register .re-desc-confirm
{
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    top: 0%;
    left: 0%;
    width: 301px;
    padding: 10px;
    text-align: center;
    /* font-size: 0.85rem; */
    box-shadow: 0px 2px 2px #ddd;
    margin-top: -110px;
    margin-right: -74px;
	display:none;
}
#register #re-confirm-top{
    position: relative;
    display: none;
   right:0px;
   line-height: 31px;
}
#register .re-desc-confirm.active{
	display:block;
}
#register .confirm_code{
	position:relative;	
}
#register .re-desc-no.error{
    display: block!important;
    margin-top: -85px!important;	
}
.reg-row.tl_code input{
width:120px!important;
margin-right: 10px;
display: none;
}
.orange-btn.top-reg{
font-size: 0.97rem;
width: 100px;
}
.re_desc_confirm_top_error,
.desc_confirm_top,
.re_desc_confirm_top{
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    top: 0%;
    right: 0%;
    width: 170px;
    padding: 10px;
    text-align: center;
    /* font-size: 0.85rem; */
    box-shadow: 0px 2px 2px #ddd;
    margin-top: -120px;
    margin-right: 70px;
    display: none;
}
.re_desc_confirm_top_error p{
    font-size: 1rem;	
}
.desc_confirm_top p, 
.re_desc_confirm_top p {
    font-size: 0.85rem;
}
.reg-row.tip{
	position:relative;
}
.topltip_error_top{
    position: absolute;
    top: -80px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px 36px;
    border-radius: 3px;
    z-index: 50;
    left: -2px;
    max-width: 450px;
    display: none;	
}
.topltip_error_top .close {
    position: absolute;
    right: 0%;
    margin-right: 10px;
    cursor: pointer;
    color: #F26541;
    margin-top: -5px;
}
.topltip_error_top p {
    font-size: 1rem;
    font-family: "BlissPro-Light";
    color: rgb(69, 61, 63);
    line-height: 1.25;
    text-align: center;
    margin: 0;
}

.topltip_error_top:after {
    z-index: 50;
    position: absolute;
    display: block;
    width: 23px;
    height: 15px;
    margin-top: 10px;
    left: calc(50% - 11px);
    background: url('/local/templates/universal/image/tooltip-triangle.png') no-repeat center;
    content: '';
}


form[name='regform'] #error_confirm {
       position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    width: 116px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 2px #ddd;
    display: none;
    border-radius: 5px;
    bottom: 55px;
    left: -7px;
    z-index: 10;
}

form[name='regform'] #error_confirm p {
        color: red;
            font-size: 0.85rem;
}

form[name='regform'] #error_confirm::after {
    z-index: 50;
    position: absolute;
    display: block;
    width: 23px;
    height: 15px;
    margin-top: 10px;
    left: calc(50% - 11px);
    background: url('/local/templates/universal/image/tooltip-triangle.png') no-repeat center;
    content: '';
}
