.money-care-container
  a.form-button
    background-color: #006ac5
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    cursor: pointer
    padding: 7px 12px 8px
    font-size: 14px
    line-height: 16px
    font-weight: 400
    color: #ffffff
    display: inline-block
    text-decoration: none
    vertical-align: middle
    &:hover
      background-color: #2975c0
      color: #ffffff