.money-care-container
  a.form-button
    background-color: #006ac5
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    cursor: pointer
    padding: 7px 12px 8px
    font-size: 14px
    line-height: 16px
    font-weight: 400
    color: #ffffff
    display: inline-block
    text-decoration: none
    vertical-align: middle
    &:hover
      background-color: #2975c0
      color: #ffffff
.header_wrap
  .flex-line
    padding-top: 5px
    padding-bottom: 5px
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    .flex-item:nth-child(1)
      flex-basis: 398px
      .flex-item__menu
        .strlog-top-dropdown-menu-wrapper
          > ul
            > li
              &:before
                content: ''
                position: absolute
                width: 100%
                height: 10px
                left: 0
                bottom: -10px
    .flex-item:nth-child(2)
      flex-grow: 1
      flex-basis: 247px
      padding-left: 20px
      padding-right: 20px
      .flex-item__phone
        display: inline-block
        text-align: right
        width: 100%
        white-space: nowrap
        span.icons
          color: #005fb1
        span.phone_text
          a
            font-weight: 600
    .flex-item:nth-child(3)
      flex-basis: 169px
      .flex-item__top-auth
        .module-enter
          a
            color: #666666
            text-decoration: none
            &.avtorization-call, &.reg
              position: relative
              &:before
                content: ''
                position: absolute
                left: 0
                top: -1px
                width: 21px
                height: 21px
                background: url(../images/ai.png) -423px -3px no-repeat
                z-index: 2
            &.avtorization-call
              margin-left: 0
            &.reg
              margin-right: 10px
              &:before
                left: -19px
          &.have-user
            margin-left: 12px
            white-space: nowrap
            .user-bonus-wrapper
              display: block


.catalog .item
  position: relative
  .item-title
    z-index: 40
  &.list_item_wrapp
    .description_wrapp
      z-index: 25
    .item-stock
      .item-stock-popup
        top: 35px
        left: -125px
        right: -125px
        &:before
          right: calc(50% - 6px)
        .item-stock
          padding-top: 0
  &.catalog_item_wrapp
    .item-stock
      .item-stock-popup
        top: 30px
        left: -35px
        right: -35px
        margin: auto
        font-size: 14px
        padding: 15px
        &:before
          right: calc(50% - 6px)
        .store-item
          word-wrap: break-word
          .stock-address
            margin-right: 17px
            width: 154px
            display: inline-block
            white-space: normal
          .stock-separator
            margin-top: 10px
            margin-bottom: 10px
  .item-stock
    position: relative
    margin: 0
    padding-top: 0
    &:hover .item-stock-popup
      display: block
      opacity: 1
    .item-stock-popup
      opacity: 0
      display: none
      position: absolute
      transition: opacity .5s
      right: -3px
      top: 27px
      background-color: #fff
      padding: 20px
      font-size: 16px
      z-index: 20
      -webkit-box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.33)
      -moz-box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.33)
      box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.33)
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      &:before
        content: ''
        width: 10px
        height: 10px
        transform: rotate(45deg)
        position: absolute
        z-index: 1
        border-left: 1px solid #e9e9e9
        border-top: 1px solid #e9e9e9
        top: -6px
        right: 30px
        background-color: #fff
      .store-item
        display: flex
        justify-content: space-between
        .stock-address
          margin-right: 40px
      .stock-separator
        background-color: #d7d6d6
        height: 2px
        width: 90%
        margin-left: 5%
        margin-top: 15px
        margin-bottom: 15px
  .footer_button
    z-index: 10

.catalog_detail
  .prices_block, .right_info
    .item-stock
      .value
        > a > span
          font-size: 12px

html
  scroll-behavior: smooth

.item_main_info
  .element-stores-block
    margin: 0 auto
    padding: 40px 0 25px
    width: calc(100% - 80px)
    border-top: 1px solid #F2F2F2
    border-bottom: 1px solid #F2F2F2
    .store-block-title
      font-weight: bold
      font-size: 20px
      color: #000
      margin-bottom: 20px
    .store-list
      .store-item
        display: flex
        justify-content: space-between
        padding: 15px 0
        position: relative
        &:hover
          background-color: #f7f7f7
          .store-amount, .store-title
            background-color: #f7f7f7
        &:before
          content: ''
          width: 100%
          display: block
          height: 1px
          top: 50%
          border-bottom: 1px dotted #C3C3C3
          position: absolute
        .store-title
          font-size: 16px
          position: relative
          background-color: #fff
          padding: 0 20px
          cursor: default
        .store-amount
          position: relative
          background-color: #fff
          padding: 0 20px
          line-height: 20px
          .item-stock
            margin: 0
            display: inline-block
  .tizers_block
    margin: 40px 0 40px


.fast_view_frame.popup
  #fast_view_item
    height: 600px
    .item_main_info
      .element-stores-block
        background-color: #fff
        position: relative
        z-index: 2
        padding: 22px 0 25px
        .store-block-title
          margin-bottom: 10px


.bottom_menu_title
  font-size: 20px!important
  text-transform: none
  font-weight: 600
  color: #666666
  margin-bottom: 10px!important
  display: inline-block

@media (max-width: 550px)
  .item_main_info
    .element-stores-block
      padding: 20px 0 5px
      width: calc(100% - 20px)
      .store-block-title
        margin-bottom: 10px
      .store-list
        .store-item
          .store-title
            padding: 0 5px
          .store-amount
            padding: 0 5px


@media (max-width: 1390px)
  .header_wrap
    .flex-line
      .flex-item:nth-child(1)
        .flex-item__menu
          .strlog-top-dropdown-menu-wrapper
            > ul
              > li:nth-child(1)[data-click-count = '1']
                .strlog-top-dropdown-submenu
                  left: 0
                  &::before
                    left: -147px
@media (max-width: 925px)
  .header_wrap
    .flex-line
      .flex-item:nth-child(1)
        flex-basis: 309px
        .flex-item__menu
          .strlog-top-dropdown-menu-wrapper
            > ul
              > li
                &:nth-child(3)
                  margin-right: 0
                &:last-child
                  display: none
@media (max-width: 842px)
  .header_wrap
    .flex-line
      .flex-item:nth-child(1)
        flex-basis: 199px
        .flex-item__menu
          .strlog-top-dropdown-menu-wrapper
            > ul
              > li
                &:nth-child(1)
                  display: none
                &:nth-child(2)[data-click-count = '1']
                  .strlog-top-dropdown-submenu
                    left: 0
                    &::before
                      left: -100px
@media (max-width: 703px)
  .header_wrap
    .flex-line
      flex-wrap: wrap
      .flex-item:nth-child(2)
        order: 3
        margin-top: 15px
        text-align: center
        flex-basis: 263px
        .flex-item__phone
          display: inline
@media (max-width: 408px)
  .header_wrap
    .wrapper_inner
      padding: 0 10px
    .flex-line
      .flex-item:nth-child(1)
        flex-basis: 164px
        .flex-item__menu
          .strlog-top-dropdown-menu-wrapper
            > ul
              > li
                &:nth-child(2)
                  margin-right: 19px
      .flex-item:nth-child(3)
        flex-basis: 156px
        .flex-item__top-auth
          a.avtorization-call
            margin-left: 10px
            padding-right: 15px !important
@media (max-width: 355px)
  .header_wrap
    .flex-line
      .flex-item:nth-child(1)
        display: none
      .flex-item:nth-child(3)
        flex-basis: 100%
        .flex-item__top-auth
          text-align: center
          .module-enter
            display: inline