.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

form[name="form1"] input[name="PERSONAL_BIRTHDAY"] {
	display: none;
}

form[name="form1"] select {
	height: 20px;
	width: 70px;
	font-size: 12pt;
}

form[name="form1"] select option {
	height: 20px;
	width: 60px;
	font-size: 12pt;
}

form[name="form1"] #CHECKPHONE {
	display: none;
}

form[name="form1"] .tl_code .re-desc-no {
	display: none;
}

form[name="form1"] .tl_code input[name="CODE"] {
		border: 1px solid #d6d6d6;
	padding: 0 15px;
	font-family: 'OS-Book';
	font-size: 1rem;
	color: #231f20;
	outline: none;
	display: none;
	margin: 0;
	width: 90px !important;
}

form[name="form1"] .tl_code input[name="CODE"].error {
	border-color: red;
}

form[name="form1"] .tl_code .re_desc_confirm_top {
	display: none;
	   position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    top: 0%;
    right: 0%;
    width: 170px;
    padding: 10px;
    text-align: center;
    font-size: 0.85rem;
    box-shadow: 0px 2px 2px #ddd;
    margin-top: -120px;
    margin-right: 70px;
}

form[name="form1"] .tl_code .re_desc_confirm_top_error {
	display: none;
}

form[name="form1"] .tl_code #sendCodeForm1 {
	display: none;
	position: relative;
	width: 40px;
}

form[name="form1"] .tl_code #sendCodeForm1.success {
	background-color: #649c42;
}

form[name="form1"] .tl_code #re-confirm-top-form1 {
	display: none;
	position: relative;
	right: 0px;
	line-height: 31px;
	width: 40px;
	color: #fff;
}

form[name="form1"] .tl_code #checkTelForm1 {
	position: relative;
display: inline-block;
}

form[name="form1"] .tl_code {
	position: relative;
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
}

form[name="form1"] .tl_code.inactive {
	display: none;
}

form[name="form1"] .item .confirm_tel.inactive {
	display: none;
}

form[name="form1"] .topltip_error_top {
	    top: -120px;
	    left: -45px;
}

form[name="form1"] #error_confirm {
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    width: 116px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 2px #ddd;
    display: none;
    border-radius: 5px;
    bottom: 55px;
    left: -7px;
    z-index: 10;
}

form[name="form1"] #error_confirm p {
    color: red;
    font-size: 0.85rem;
}

form[name="form1"] #error_confirm::after {
    z-index: 50;
    position: absolute;
    display: block;
    width: 23px;
    height: 15px;
    margin-top: 10px;
    left: calc(50% - 11px);
    background: url('/local/templates/universal/image/tooltip-triangle.png') no-repeat center;
    content: '';
}

form[name="form1"] .profile_item input[name="PERSONAL_PHONE"].error {
	border-color: red;
}



