/*.button-ok{
	float: left;
}

.button-cancel{
	float: right;
}*/

.section-onload{
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 9;
	background: rgba(0, 0, 0, 0);
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
	padding: 0 !important;
    border-radius: 50%;
    background-color: #1da0fe;
    color: #fff;
    font-size: 1rem;
    font-family: "OS-Book";
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}

.sorter{
	height: 45px;
}

.sorter ul li.none:after{
	content: "";
    background: none;
}

.sort-group-list,
.sort-group-list-inside{
	margin: 0 !important;
	padding: 0 !important;
}

.sort-group-list{
	display: block !important;
}

.sort-group-list li{
	width: 190px;
	height: 1px;
	min-height: 1px;
	margin: 0 10px 0 0;
	float: left;
	position: relative;
}

.sort-group-list li:after{
	display: none !important;
}

.sort-group-list-inside{
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.sort-group-list-inside li{
	display: none;
	width: 190px;
	height: auto;
	margin: 0;
	padding: 10px 20px;
	float: none;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 3px;
	background: #fff;
	text-align: left;
	cursor: pointer;
}

.sort-group-list-inside li:first-child{
	display: block;
	border: 1px solid #ddd;
	box-shadow: 0px 2px 0 #ddd;
	text-align: center;
}

/*Сортировка*/
.sorter-list-wrapper{
	float: left;
	text-align: center;
	position: relative;
	z-index: 1;
}

.sorter-list{
	display: inline-block;
	width: 200px;
	padding: 0 !important;
	border: 1px solid #dddddd;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.sorter-list-arrow{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 20px;
	font-size: 24px !important;
	color: #1e9ad6 !important;
	transition: 0.5s;
}

.sorter-list-clear{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 19px;
	font-size: 20px !important;
	font-weight: bold;
	color: #1e9ad6 !important;
	transition: 0.5s;
}

.groupper-list{
	display: inline-block;
	width: 200px;
	padding: 0 !important;
	border: 1px solid #dddddd;
	background: #fff;
	position: absolute;
	top: 0;
	left: 210px;
	z-index: 2;
}

.availer-list{
	display: inline-block;
	width: 200px;
	padding: 0 !important;
	border: 1px solid #dddddd;
	background: #fff;
	position: absolute;
	top: 0;
	left: 420px;
	z-index: 2;
}

.sorter-point:hover,
.groupper-point:hover,
.availer-point:hover{
	background: #e6e6e6;
	transition: 0.2s;
}


.sorter-point:hover > a,
.groupper-point:hover > a,
.availer-point:hover > a{
	color: #000;
	transition: 0.2s;
}


.sorter-list li,
.groupper-list li,
.availer-list li{
	display: none;
	box-sizing: border-box;
	padding: 0;
	text-align: left;
}

.sorter-list li:after,
.groupper-list li:after,
.availer-list li:after{
	display: none !important;
}

.sorter-list li a,
.groupper-list li a,
.availer-list li a{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	font-size: 16px !important;
	color: #000 !important;
}

.sorter-choice,
.groupper-choice,
.availer-choice{
	font-size: 16px;
	color: #00adee;
}

.sorter-list li:first-child,
.groupper-list li:first-child,
.availer-list li:first-child{
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 10px;
	text-align: left;
	cursor: pointer;
}

.sorter-list li:first-child:hover,
.groupper-list li:first-child:hover,
.availer-list li:first-child:hover{
	background: #fff;
	color: #000;
}

.sorter-list li:first-child:hover > span,
.groupper-list li:first-child:hover > span,
.availer-list li:first-child:hover > span{
	color: #1e9ad6;
}

.reset{
	display: inline-block;
	width: 120px;
	padding: 0 !important;
	border: 1px solid #dddddd;
	background: #fff;
	position: absolute;
	top: 0;
	left: 630px;
	z-index: 2;
}

.reset a{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 17.5px 10px;
	font-size: 18px;
	color: #1e9ad6;
	text-align: left;
	text-decoration: none;
}
/*/Сортировка*/

.prod-title{
	display: block;
	box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 20px auto 10px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
	position: relative;
}

.product-anchor{
	display: inline-block;
	position: absolute;
	top: -90%;
}